a.phone {
    color: rgba(58, 162, 253, 0.74);
}

a.mail {
    color: rgb(174, 177, 122);
    transition: transform 250ms;
    display: inline-block;
}

a.contact {
    transition: transform 250ms;
    display: inline-block;
}

a.contact:hover {
    transform: translateY(-2px);
}

.underline{
    height: 04px;
    width: 4rem;
    background-color: #f76c2f;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-heading{
    color: rgb(204, 18, 18);
    font-size: 26px;
}